
 
<%-include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <h1>Movie Search Application!</h1>
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
      This is a simple movie search application, where users can search for
      their favourite movies and get basic informations about it.
    </p>
    <hr class="my-4" />
    <h3>This is  created by Sinchan Mandal.</h3><h3>Hope you will enjoy this application.</h3>
    <h3>For any recommendations,you may contact me at <email>sinchanmandal.mec18@itbhu.ac.in</email> </h3>
      
  </div>
</div>
<%-include("./partials/footer")%>